<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> : <%= login ? 'ログイン中 ': 'ログアウト中' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1><%= login ? 'ログイン中 ': 'ログアウト中' %></h1>
  	<p><%= login ? 'いらっしゃませ': 'ありがとうございました' %><p>
  </body>
</html>